html {
	height: 100%;
}
body {
	height: 100%;
	background-color: #323232;
	color: #e0e0e0;
	margin: 0;
	font-family: 'Ubuntu', Helvetica, 'Calibri', sans-serif;
}

@keyframes fadeIn {
   0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes scaleUp {
   0% {transform: scale(1, 1);}
	100% {transform: scale(1.1, 1.1);}
}

@keyframes scaleDown {
   0% {transform: scale(1.1, 1.1);}
	100% {transform: scale(1, 1);}
}

@keyframes expandSuggestion {
   0% {max-height: 0;}
	100% {max-height: 30px;}
}

a, a:visited {
	color: white;
}

#backgroundContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -10;
	opacity: 0;
	overflow: hidden;
}

#background {
	position: absolute;
	height: 100%;
	width: 100%;

	background-position: center center;
	background-size: cover;
	animation: scaleUp 20s ease 0s 1 normal both;
}

#backgroundFlexContainer {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}


#backgroundMainContainer {
	width: 700px;
	height: 550px;
}

#shadowCaster {
	position: relative;
	width: 100%;
	height: 100%;
}
#shadowCaster::before {
	content: "";
	position: absolute;
	top: -12.5%;
	left: -12.5%;
	width: 125%;
	height: 125%;
	z-index: 1;
	background-color: #00000060;
	filter: blur(128px);
}

#backgroundInnerContainer {
	overflow: hidden;
	border-radius: 16px;
	height: 100%;
}

#smallBackground, #smallBackgroundSlammed {
	width: 100%;
	height: 100%;

	background-position: center center;
	background-size: auto;
}

#smallBackground {
	filter: blur(8px);
	animation: scaleUp 20s ease 0s 1 normal both;
}

#smallBackgroundSlammed {
	filter: brightness(1.5) brightness(0.66);
}

#flexContainer {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#mainContainer {
	border-radius: 16px;

	border-top: 1px solid #ffffff60;
	border-left: 1px solid #ffffff60;
	box-shadow:
		1px 1px 0 #00000020,
		inset -1px -1px 0 #ffffff30;
	width: 700px;
	height: 550px;
	position: relative;

	overflow: hidden;
	box-sizing: border-box;
	padding: 48px 64px 0 64px;
}

#logo {
	width: 200px;
	display: block;
	margin: auto;
	animation: fadeIn 400ms ease 250ms 1 normal both;
}

/* form starting stylings ------------------------------- */
.group {
	position:relative;
	margin-top: 20pt;
	animation: fadeIn 350ms ease 0ms 1 normal both;
}
.group input {
	background: none;
	color: #ffffff;
	font-size: 18px;
	display:block;
	border:none;
	border-bottom:1pt solid #c0c0c0;
	padding: 5pt 30pt 5pt 5pt;
	width: calc(100% - 35pt);
}

.group input:focus {
	outline:none;
}

.group input:invalid {
	box-shadow: none;
}

/* LABEL ======================================= */
.group label {
	color:#c0c0c0;
	font-size: 18px;
	font-weight:normal;
	position:absolute;
	pointer-events:none;
	left: 5pt;
	top: 5pt;
	transition:0.2s ease all;
	-moz-transition:0.2s ease all;
	-webkit-transition:0.2s ease all;
}

/* active state */
.group input:focus ~ label, .group input:valid ~ label {
	top:-10pt;
	font-size:14px;
	color: transparent;
}

/* BOTTOM BARS ================================= */
.bar {
	position:relative;
	display:block;
	width:100%;
}
.bar:before, .bar:after {
	content:'';
	height:2pt;
	width:0;
	bottom:0;
	position:absolute;
	background:#e0e0e0;
	transition:0.2s ease all;
	-moz-transition:0.2s ease all;
	-webkit-transition:0.2s ease all;
}
.bar:before {
	left:0%;
}
.bar:after {
	right:0%;
}

/* active state */
.group input:focus ~ .bar:before, .group input:focus ~ .bar:after {
	width:100%;
}

button {
	background-color: transparent;
	border: none;
	color: #c0c0c0;
	border-radius: 6px;
	transition: background-color 150ms, color 150ms;
}

button:hover {
	color: white;
}

button:active {
	background-color: #5b9e4d;
	color: #404040;
}

#searchButton, #viewImageButton {
	width: 40px;
	height: 40px;
	padding-top: 4px;
}

#searchButton {
	position: absolute;
	right: -6px;
	bottom: 0;
	border-bottom-left-radius: 0;
}

#viewImageButton {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
}

.sellSoulContainer {
	animation: fadeIn 250ms ease 500ms 1 normal both;
}

#sellSoulButton {
	display: block;
	margin: 48px auto 16px auto;
	padding: 16px;
	position: relative;
}
#sellSoulButton:hover:not(:active) {
	box-shadow: 2px 2px 2px #00000040;
	background-color: #ffffff20;
}

/* Tooltips */
/* Tooltip text */
.sellSoulContainer .sellSoulTooltip {
	visibility: hidden;
	color: white;
	text-align: center;
	line-height: 2;
	font-size: 14px;
	margin-bottom: 32px;

	/* Fade in tooltip */
	opacity: 0;
	max-height: 1px;
	transition: all 200ms;
}

/* Show the tooltip text when you mouse over the tooltip container */
.sellSoulContainer button:hover + .sellSoulTooltip {
	visibility: visible;
	max-height: 100px;
	opacity: 1;
}

/* suggestions --------- */

#suggestionsOuterScrollBox {
	transition: all 150ms ease;
	background-color: #00000020;
	border-radius: 0 0 4px 4px;
	overflow: hidden;
}
#suggestionsScrollBox {
	max-height: 225px;
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-color: #c0c0c0 transparent;
}
#suggestionsScrollBox::-webkit-scrollbar {
	background-color: transparent;
	width: 8px;
}
#suggestionsScrollBox::-webkit-scrollbar-thumb {
	background-color: #c0c0c0;
	border-radius: 4px;
}

#suggestionsBox {
	opacity: 1;
	transition: opacity 150ms ease,
		padding 150ms ease;
}

.suggestion:first-child {
	display: none;
}
.suggestion {
	color: #c0c0c0;
	padding: 4px 8px;
	border-radius: 4px;
	transition: all 350ms ease,
		padding-left 100ms ease;
	display: flex;
	max-height: 30px;
	margin-top: 0;
	opacity: 1;
	animation: fadeIn 250ms ease 0ms 1 normal both,
		expandSuggestion 250ms ease 0ms 1 normal both;
}

.suggestionSnippet {
	flex-grow: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.suggestionPhrase {
	flex: auto;
	flex-shrink: 0;
	text-align: right;
	font-weight: bold;
	margin-left: 8px;
}

.suggestion img {
	max-width: 18px;
	min-width: 18px;
	max-height: 18px;
	width: auto;
	height: auto;
	margin-right: 8px;
}

.suggestion:hover, .suggestion.selectedSuggestion {
	padding-left: 16px;
	color: white;
	background-color: #ffffff20;
}

/* Fortune -------------- */
#fortune {
	position: absolute;
	top: 380px;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: -1;

	opacity: 0;
	transition: all 300ms ease;
}
